@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.nav-header{
    background-color: #232F3E;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid lightgrey;
  }

  .icons{
      font-size: 2rem;
      cursor: pointer;
      color: white;
  }

 .side-menu{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .side-menu.active{
     display: block;
     transition: all 0.3s ease-in-out;
 }

 .side-menu::-webkit-scrollbar{
    display: none;
}

 .menu-item{
    text-align: left;
    cursor: pointer;
    padding: 1rem 1rem;
}

.menu-item:hover{
    background-color: #EAEDED;
}

  ul > li{
  list-style-type: none;
  }

  .nav-links{
      color: #717171;
      font-size: 15px;
      font-family: 'Poppins', sans-serif;
  }
  
  .nav-links:hover{
      text-decoration: none;
      color: #717171
  }

  .side-menu-profile-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    background-color: #232F3E;
    padding: 1rem 1rem;
    min-width: 325px;
    position: fixed;
    z-index: -1;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    border-bottom: 2px solid lightgray;
}

.side-menu-container{
    margin-top: 4.5rem;
}