@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .icons{
      font-size: 1.75rem;
      cursor: pointer;
  }

 .side-menu{
     height: 100vh;
     overflow-y: scroll;
     background-color: #fff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     justify-content: start;
     display: flex;
     justify-content: center;
     position: fixed;
     top: 0;
     display: none;
     width: auto;
     left: 0;
     transition: all 0.3s ease-in-out;
 }

 .side-menu.active{
     display: block;
     transition: all 0.3s ease-in-out;
 }

 .nav-item{
     padding: 15px 15px;
     width: 100%;
 }

 .nav-item:hover{
     background-color: #EAEDED;
 }

  ul > li{
  list-style-type: none;
  }

  .nav-links{
      color: #717171;
      font-size: 15px;
      font-family: 'Poppins', sans-serif;
  }
  
  .nav-links:hover{
      text-decoration: none;
      color: #717171
  }